<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1><center>Cars</center></h1>


<table border="100" bordercolor="teal" align="center">
    <tr>
        <th>Color</th>
        <th>Model</th>
        <th>Series</th>
        <th colspan="2">Options</th>
    </tr>

    <tr>
    <tr th:each="car : ${cars}">
        <td th:utext="${car.getColor()}"></td>
        <td th:utext="${car.getModel()}"></td>
        <td th:utext="${car.getSeries()}"></td>
    <td><a th:href="@{/{id}/edit(id=${car.getId()})}">Edit</a></td>

    <td><form th:method="DELETE" th:action="@{/{id}/delete(id=${car.getId()})}">
        <input type="submit" value="Delete">
        </form></td>

    <tr>
    <td colspan="5" align="center"><a th:href="@{/new}">Add new car</a></td>

    </tr>
    </table>

</body>
</html>